* {
    box-sizing: border-box;
  /*  border: 3px solid black;*/
}
body {
    font-family:  sans-serif;
    background-color: darkslateblue;
    color: white;
}
.nav  {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}
.nav  a, .nav2  a  {

    display: block;
    height: 20px;
    margin-right: 10px;
    font-size: 26px;
    text-decoration: none;
    text-align: right;
    color: black;
}

.nav .close { /*X*/
    position: absolute;
    top: 10px;
    margin-left: 20px;
    font-size: 30px
}
.slide a img { /*  ||| */
    margin-top: 10px;
    width: 40px;
    height: 40px;

}

#content {
    transition: margin-left 0.7s;
    width: 100%;
}

@media screen and (min-width: 600px) { /*  ||| */
    .slide a img {
        display: none;
    }

}
@media screen and (max-width: 600px) { /*  ||| */
    .nav2{
        display: none;
    }
}

main {
    font-family: Arial, sans-serif;
    margin-top: 7%;
    width: 75%;
    margin-left: 22%;

    height: 100%;
    /* background-color: aquamarine;
                   margin-top: 7%;
      width: 75%;
      margin-left: 21%;
      height: 100%;


                                          */

    /*    margin-left: auto;
    margin-right: auto;*/
}
.nav2 {
    background-color: white;
      width: 20%;
    height: 100%;
    color: black;

    position: fixed;
    top: 0;
    left: 0;

    padding-top: 60px;


}
#logo {
    margin: 20px;
    margin-bottom: 50px;
}

#largeImage{
    filter: blur(10px);
    position: relative;




}
#imageText{
    position:relative;
    /* bottom: 0;  At the bottom. Use top:0 to append it to the top */
    bottom: 38px;
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    padding-top: 10px; /* text */
    padding-right: 20px;
    padding-left: 25px;
    padding-bottom: 10px;
    /*

    */
    z-index: 2;
    margin-left: 5%;

    width: 90%;
}

.zoomBOut {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  /*  height: 77vw;*/
    height: 400px;
    /*height: 400px;*/
    overflow: hidden;
    position: relative;
    z-index: 1; /*Because the image has a z-index of -1, it will be placed behind*/
}
.zoomBIn {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    transition: transform ease 0.3s;
}
.zoomBIn:hover {
    transform: scale(1.2);
}

#mediumImage {
    position: absolute;
   margin-left: 10%;

    width: 50%;
    height: 400px;
    z-index: 2; /*et oleks kõige peal*/
     /* ease | ease-in | ease-out | linear */
     transition: transform ease-in-out 0.3s;
 }
#mediumImage:hover {
    transform: scale(1.2);
}
/*-----------------------------------*/
#list{
    border-collapse: collapse;
    width: 95%; /*MUUDA MIND */
    margin-left: 3.5%;
    height: 300px;

    font-size: 16px;
}
#tableNames {

    background-color: #2f2c2e;
    font-weight: bold;
    color: white;

}

tr, td {
    padding: 15px;
}

#list tr:nth-child(even){
/*http://www-db.deis.unibo.it/courses/TW/DOCS/w3schools/colors/colors_picker.asp-colorhex=FFFFFF.html*/
    background: rgba(255, 204, 255, .3);

}






.sortorder:after {
    content: '\25b2';   /* BLACK UP-POINTING TRIANGLE*/
}
.sortorder.reverse:after {
    content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE*/
}

 #mytitle{  /*pealkirjad*/
    color: white;
    text-align: center;


}
#tableh1{  /*pealkirjad*/
    color: white;
    text-align: center;

    margin-right: 9%;
 /*   width: 95%;
    margin-left: 3.5%;*/


}

#myTag{
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    background-color: hotpink;

}
.pagination {
    display: flex;
    margin-left: 32%;
    margin-right: 40%;
    padding-top: 10px;
    font-size: 17px;







}



 .paginationSelectedValue {
    pointer-events: none;
    color: black;
    background-color: white;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;





}

.pagination > div {
    display: inline-block;
    margin-left: 1vw;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;


}
.pagination > div:hover {
    border: 2px solid white;
    text-align: center;
    border-radius: 50%;
    width: 25px;
    height: 25px;

}

