* {
    box-sizing: border-box;
    border: 3px solid black;
}
body {
    font-family:  sans-serif;
    overflow-x: hidden;
    background-color: darkslateblue;
}
.nav  {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.7s;
}
.nav  a, .nav2  a  {

    display: block;
    height: 20px;
    margin-right: 10px;
    font-size: 26px;
    text-decoration: none;
    text-align: right;
    color: black;
}

.nav .close { /*X*/
    position: absolute;
    top: 10px;
    margin-left: 20px;
    font-size: 30px
}
.slide a img { /*  ||| */
    margin-top: 10px;
    width: 40px;
    height: 40px;

}

#content {
    transition: margin-left 0.7s;
    width: 100%;
}

@media screen and (min-width: 600px) { /*  ||| */
    .slide a img {
        display: none;
    }
}
@media screen and (max-width: 600px) { /*  ||| */
    .nav2{
        display: none;
    }
}

main {
    font-family: Arial, sans-serif;
    font-size: 1rem;
      width: 80%;
    float: right;
    height: 100%;
    background-color: white;

    /*    margin-left: auto;
    margin-right: auto;*/
}
.nav2 {
    background-color: yellow;
      width: 20%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    padding-top: 60px;


}
#logo {
    margin: 20px;
    margin-bottom: 50px;
}

#largeImage{
    filter: blur(10px);


}

.zoomBOut {
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.zoomBIn {
    width: 100%;
    height: 100%;

    background-position: center;
    background-size: cover;
    transition: transform ease 0.3s;
}
.zoomBIn:hover {
    transform: scale(1.2);
}

#mediumImage {
    position: absolute;
    top: 142.5%;
    margin-left: 100px;
    margin-right: 100px;
     width: 50%;
     height: 400px;
    z-index: 2;
     /* ease | ease-in | ease-out | linear */
     transition: transform ease-in-out 0.3s;
 }
#mediumImage:hover {
    transform: scale(1.2);
}

